@model IEnumerable<Ticket>

<h2>Tickets</h2>

   <div style="display: block">
     <a href="/Ticket/InsertTicket/">Create a New Ticket</a>
 </div>
<table class="table">
    <tr>
        <th>Ticket ID</th>
        <th>Error Type</th>
        <th>Description</th>
        <th>Priorty</th>
        <th>Status</th>
        <th>Submitter</th>
    </tr>

    @foreach (var ticket in Model)
    {
        <tr>
            <td><a href=/Ticket/GetTicketInfo/@ticket.TicketID>@ticket.TicketID</a></td>
            <td>@ticket.ErrorTypeID</td>
            <td>@ticket.Description</td>
            <td>@ticket.Priority</td>
            <td>@ticket.Status</td>
            <td>@ticket.Submitter</td>
        </tr>
    }

</table>