@model IEnumerable<Ticket>

<h2>Tickets</h2>

   <div style="display: block">
     <a href="/Tickets/InsertTicket/">Create a New Ticket</a>
 </div>
<table class="table">
    <tr>
        <th>TicketID</th>
        <th>TYPE</th>
        <th>Description</th>
        <th>Priorty</th>
        <th>Status</th>
        <th>Owner</th>
    </tr>

    @foreach (var ticket in Model)
    {
        <tr>
            <td>@ticket.TicketId</td>
            <td>@ticket.ErrorID</td>
            <td>@ticket.Description</td>
            <td>@ticket.Priority</td>
            <td>@ticket.Status</td>
            <td>@ticket.Submitter</td>
        </tr>
    }

</table>